.bar{
    z-index: 50;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 1rem;
    height: var(--navbar-height);
    background-color: var(--color-accent);
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo{
    font-size: 2rem;
    font-weight: 200;
}

.logo a{
    color: white;
    text-decoration: none;
}

nav{
    display: flex;
    gap: 0.5rem;
}

nav a{
    color: white;
}