.header{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.header > img{
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
}

.header > h1{
    margin-left: 1rem;
}

section{
    margin-bottom: 4rem;
}

section > h2{
    margin-top: 0;
    margin-bottom: 1rem;
}

.edit{
    margin-bottom: 1rem;
}

.edit > label{
    display: block;
}

.edit > .edit-save-button{
    display: none;
    height: 100%;
}

.edit:hover > .edit-save-button{
    display: inline-block;
}

.field{
    display: inline-block;
}

.book-selection{
    margin-bottom: 2rem;
}