.App {
  margin-top: var(--navbar-height);
  padding: 1rem 2rem;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

html{
  --color-accent: #7b40be;
  --color-accent-dark: #29173d;
  --color-accent-transparent: #7b40be2c;
  --navbar-height: 4rem;

  background-color: #303030;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
}

button{
  background-color: var(--color-accent);
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
}

input[type="text"],
input[type="password"]{
  background-color: rgba(255, 255, 255, 0.185);
  border: solid white;
  border-width: 0 0 1px 0;
  padding: 0.5em 1em;
  outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus{
  border-color: var(--color-accent);
}

label{
  font: 0.8rem;
  font-weight: 600;
}