.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-or-signup{
    margin-bottom: 2rem;
}

.login-or-signup > h1{
    display: inline;
    cursor: pointer;
    margin-right: 1rem;
}

.login-or-signup h1:nth-child(2){
    color: gray;
    cursor: pointer;
    font-size: 1.3rem;
}

label{
    display: block;
}

button{
    display: block;
}

.field{
    display: block;
    margin-bottom: 1rem;
}