.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

h1{
    margin-bottom: 2rem;
}

label{
    display: block;
}

button{
    display: block;
}

.field{
    display: block;
    margin-bottom: 1rem;
}